#block-calibrate-page-title {
  h1 {
    margin: 0 5%;
    font-weight: 500;
    font-size: 26px;
  }
}

.layout__region--top {
  margin: 2% 0;
  display: flex;

  @include phones {
    flex-direction: column;
  }

  div {
    width: 60%;

    @include phones {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      max-height: 500px;

      @include phones {
        max-height: 300px;
      }
    }

    &:nth-child(2) {
      width: 140%;
      margin: 0 3%;

      @include phones {
        width: 100%;
        margin: 2% 0;
      }
    }
  }
}

#block-views-block-related-articles-block-1,
#block-views-block-related-news-block-1,
#block-views-block-articles-from-block-1 {
  margin: 3% 5%;

  h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1%;
  }
  .related-articles,
  .related-news,
  .articles-from {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
      flex-direction: column;
    }

    .views-row {
      width: 30%;

      @include tablets {
        width: 100%;
      }
      .views-field-field-photo {
        height: auto;
        width: 100%;
        // max-width: 565px;

        @include lowresmonitors {
          height: auto;
          width: 90%;
        }

        @include tablets {
          height: auto;
          width: 100%;
        }

        @include phones {
          display: block;
          height: auto;
          width: 80%;
        }
      }
      .views-field-field-image {
        img {
          height: auto;
          width: 100%;
          // max-width: 565px;

          @include lowresmonitors {
            height: auto;
            width: 90%;
          }

          @include tablets {
            height: auto;
            width: 100%;
          }

          @include phones {
            display: block;
            height: auto;
            width: 80%;
          }
        }
      }

      a {
        font-size: 20px;
        text-decoration: none;
        color: black;
      }
    }
  }
}
