.layout--twocol {
  margin: 0 5%;

  .layout__region--first {
    width: 60px;
    img {
      height: auto;
      width: 100%;
    }
  }

  .layout__region--second {
    overflow-x: hidden;
    padding: 0 3%;

    div {
      display: flex;
      flex-wrap: wrap;
      margin-right: 5px;
      margin-bottom: 20px;

      &:first-child,
      :nth-child(2) {
        margin-bottom: 2px;
      }
      div {
        &:nth-child(1) {
          color: black;
        }
      }
    }
  }
}
