.layout,
layout--twocol {
  margin: 0 5%;
  display: flex;

  .layout__region--first {
    display: flex;
    align-items: center;
    justify-content: center;

    .officePhoto {
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .layout__region--second {
    width: 50%;
    overflow-x: hidden;
    padding-left: 5%;

    div {
      display: flex;
      flex-wrap: wrap;
      margin-right: 5px;
      margin-bottom: 20px;

      &:first-child,
      :nth-child(2) {
        margin-bottom: 2px;
      }
      div {
        &:nth-child(1) {
          color: black;
        }
      }
    }
  }
}
